.navRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 10px 0;
}

.navRow a {
  font-size: 18px;
  font-weight: 600;
}

.cartButton {
  position: relative;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 6px;
  color: #fff;
}

.cartCount {
  background: var(--cnopkaPok);
  color: #fff;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
  margin-left: 4px;
}

/* Адаптация: */
@media (max-width: 600px) {
  .cartButton .korzina{
    display: none;
  }
}
