.minus{
  margin-right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}
.minus:hover {
  background: red;
}

.plus{
  margin-left: 10px;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}
.plus:hover {
  background: blue;
}