.list {
  display: grid;
  gap: 18px;
  margin-top: 20px;
}

/* карточка товара */
.card {
  background: var(--card);
  border-radius: 12px;
  padding: 12px;
  display: flex;
  gap: 16px;
  box-shadow: 0 6px 16px rgba(0,0,0,0.05);
}

.photo {
  object-fit: cover;
  border-radius: 10px;
}

.info {
  flex: 1;
}

.age {
  color: var(--muted);
  margin-top: 4px;
}

.price {
  margin: 8px 0;
  font-size: 1rem;
}

.qtyRow {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 10px 0;
}

.qtyRow button {
  width: 32px;
  height: 32px;
  font-size: 1.2rem;
  border: none;
  border-radius: 6px;
  background: var(--accent);
  color: white;
  cursor: pointer;
}
.qtyRow button:hover {
  background: rgb(18, 100, 74);
}

.qtyRow span {
  font-size: 1.1rem;
  font-weight: 600;
}

.subtotal {
  margin-top: 8px;
  color: #1f2937;
}

.remove {
  margin-top: 10px;
  background: transparent;
  border: 1px solid rgba(0,0,0,0.15);
  color: #b91c1c;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
}

/* блок итоговой суммы */
.totalBox {
  margin-top: 32px;
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 6px 16px rgba(0,0,0,0.05);
}

/* кнопка очистки корзины */
.clearBtn {
  margin-top: 14px;
  background: #b91c1c;
  color: white;
  padding: 10px 14px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}
.clearBtn:hover {
  background: #881616;
}

.wrapbutton{
  display: flex;
  justify-content: space-between;
}

.addButton {
  /* margin-top: 14px; */
  background: var(--accent);
  color: white;
  padding: 10px 14px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}
.addButton:hover {
  background: rgb(18, 100, 74);
}

/* -- АДАПТИВ ----------------------------------------------------------------- */

@media (max-width: 900px) {
  .card {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .qtyRow {
    justify-content: center;
  }
}

@media (max-width: 600px) {
  .card {
    padding: 16px;
  }
  .wrapbutton{
    /* display: block;
    text-align: center; */
    flex-direction: column; /* чтобы кнопки шли вертикально */
    align-items: center; /* по центру по горизонтали */
    gap: 8px; /* расстояние между кнопками, если нужно */
  }
}